* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #1d1a38 0%, #000 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans SC", sans-serif;
  color: white;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.ailing {
  margin: -55px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1035px;
  height: 750px;
}

.ailingPic {
  width: 687px;
  height: 700px;
}

.txt {
  position: absolute;
  width: 390px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 15px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
  font-weight: 400;
}

.txt1 {
  background: rgba(37, 211, 102, 0.5);
  right: 65%;
  top: 35%;
  color: #fff;
}

.txt1 p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 25px;
  opacity: 50%;
}

.txt2 p {
  position: absolute;
  bottom: 0;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 25px;
  opacity: 50%;
}

.txt2 {
  background: rgba(255, 255, 255, 0.7);
  left: 65%;
  top: 65%;
  color: #222222;
  text-align: right;
}

.txt1, .txt2 {
    opacity: 0; /* Ocultar por defecto */
    transform: translateY(20px); /* Mover un poco hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones para animación */
}

h2 {
  margin-top: 30px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 44px */
}

.h2cont {
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
}

.wpBtn {
  margin-top: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 295px;
  height: 90px;
  border-radius: 100px;
  background: #25d366;
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
}

.author{
  margin-top: 20px;
}

hr {
  width: 80%; 
  height: 1px;
  background-color: #ccc;
  border: none;
  margin: 50px auto 0px;
}

/* Estilos para el slideshow */
.textSlideShow {
  position: relative;
  margin: 50px auto;
  width: 60%; /* Ancho del slideshow */
}
.slide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateX(20px);
  text-align: center;
}
.slide.active {
  display: block;
  opacity: 1;
  transform: translateX(0);
}

/* Estilos para los botones de navegación */
.nav-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dot.active {
  background-color: #bbb;
}

.slide h3 {
  font-size: 50px; /* Tamaño del título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.slide p {
  font-size: 20px; /* Tamaño del párrafo */
}

.contact {
  background-color: #f9f9f92f; /* Color de fondo suave */
  padding: 20px; /* Espaciado interno */
  border: 1px solid #ddd; /* Borde sutil */
  border-radius: 8px; /* Bordes redondeados */
  width: 90%;
  text-align: center;
  color: white;


}

.contact h2 {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
  margin: 0;
  font-weight: 500;
}

.contact p {
  font-size: 16px; /* Tamaño del texto */

}

.contact a {
  color: #27c1e7; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.contact a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.message-templates {
  background-color: #e9ecef; /* Color de fondo diferente para distinguir */
  padding: 15px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 8px; /* Bordes redondeados */
  margin: 20px 0; /* Margen entre secciones */
  width: 90%;
  text-align: center;
  
}

.message-templates p {
  font-size: 16px; /* Tamaño del texto */
  color: #555; /* Color del texto */
}

.message-templates a {
  color: #053318; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.message-templates a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

section:last-of-type {
  text-align: center; /* Centrado del texto */
}

section:last-of-type a {
  color: #aa65f8; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

section:last-of-type a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
